# name of the workflow/pipeline
name: github action demo1 pipeline

# trigger event ---> when GitHub Action runs this workflow
on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Print message
        run: echo "Welcome to GitHub Actions!"



















